<h2>Important facts</h2>

<p>House price <input ng-model="vm.price"></p>

<p>Down payment <input ng-model="vm.price"></p>

<p>Initial mortgage rate?<input ng-model="vm.price"></p>

<p>Duration of fixed mortgage?<input ng-model=""></p>

<p>what's your current rent?<input ng-model="vm.price"></p>

<p>How long are you planning on staying?<input ng-model="vm.price"></p>


<h2>Expecting the future</h2>

<p>Rate after fixed term ends?<input ng-model="vm.price"></p> (default = 7%)

Common scenarios:

5% 10% 15%

<p>Home price growth rate?<input ng-model="vm.price"></p>

<p>Rent growth rate?<input ng-model="vm.price"></p>

<p>Inflation?<input ng-model="vm.price"></p>

<p>Return on investement?<input ng-model="vm.price"></p>


<h2>Keeping the status quo</h2>

<p>Yearly maintenance<input ng-model="vm.price"></p>



<h2>Other stuff</h2>

<p>Total duration of mortgage?<input ng-model=""></p> (usually 25 years).



<div id="price"></div>
