<div class="row" style="width: 400px; position: fixed; top: 10px; right: 20px;">
  <div class="large-12 columns">
    <h2>If you can rent a place for £{{ vm.result.rent.amount|number:0 }} then renting is cheaper.</h2>
    <table border="1">
      <tr>
        <th>Cost after {{ vm.data.expectedStayDuration }} years</th>
        <th>Rent</th>
        <th>Buy</th>
      </tr>
      <tr>
        <td>Initial costs</td>
        <td>£{{ vm.rent_transaction_costs() }}</td> <!-- TODO: didn't exist -->
        <td>£{{ vm.result.house.transactionCosts|number:0 }}</td>
      </tr>
      <tr>
        <td>Recurring costs</td>
        <td>£{{ vm.result.rent.recurringCosts|number:0 }}</td>
        <td>£{{ vm.result.house.recurringCosts|number:0 }}</td>
      </tr>
      <tr>
        <td>Opportunity costs</td>
        <td>£{{ vm.result.rent.opportunityCosts|number:0 }}</td>
        <td>£{{ vm.result.house.opportunityCosts|number:0 }}</td>
      </tr>
      <tr>
        <td>Proceeds</td>
        <td>£{{ vm.rent_opportunity_costs() }}</td>  <!-- TODO: didn't exist -->
        <td>£{{ vm.result.house.proceeds|number:0 }}</td>
      </tr>
      <tr>
        <td>total</td>
        <td>£{{vm.result.house.totalCost|number:0 }}</td>
        <td>£{{ vm.result.house.totalCost|number:0 }}</td>
      </tr>
    </table>
    <p>You'll save £{{ vm.result.saveVSRent|number:0 }} over your current rent.
    </p>
    <p><a ng-click="">Share</a>
    </p>
    <p>That's {{ vm.inCrumpets() }} crumpets!
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h2>Values</h2>
    <form ng-model-options="{ updateOn: 'blur' }">
      <label>
        <div class="row">
          <div class="large-12 columns">
            <h5>Home Price</h5>
            The more you pay for your place the higher the stamp duty will be.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" pattern="\d*" ng-model="vm.data.housePrice" waw-prefix="£" ng-change="vm.compute()">
          </div>
          <div class="large-8 columns">
          </div>
      </label>

      <label>
        <div class="row">
          <div class="large-12 columns">
            <h5>Down Payment</h5> A larger down payment usually gives
        you better mortgage options. Note that investing in your home
        means you are not investing into anything else which is a
        missed opportunity cost.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" ng-model="vm.data.mortgage.downPayment" waw-prefix="£" ng-change="vm.compute()">
          </div>
          <div class="large-8 columns">
          </div>
      </label>

      <label>
        <div class="row">
          <div class="large-12 columns">
            <h5>Initial Mortgage</h5> The most common mortgage in the
        UK has a fixed rate for a certain amount of time, usually
        between 2 and 10 years. Enter here how much the initial, fixed
        rate will be.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" ng-model="vm.data.mortgage.initialRate" waw-postfix="%" ng-change="vm.compute()">
          </div>
          <div class="large-8 columns">
          </div>
      </label>

      <label>
        <div class="row">
          <div class="large-12 columns">
            Fixed for.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" ng-model="vm.data.mortgage.fixedDuration" waw-postfix="years" ng-change="vm.compute()">
          </div>
          <div class="large-8 columns">
          </div>
      </label>

      <label>
        <div class="row">
          <div class="large-12 columns">
            <h5>Expected stay</h5>When you stay longer then the
            transaction costs like stamp duty matter less. You will also
            have paid off more of the loan, and value of your home will have changed.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" ng-model="vm.data.expectedStayDuration" waw-postfix="years" ng-change="vm.compute()">
          </div>
          <div class="large-8 columns">
          </div>
      </label>

      <label>
        <div class="row">
          <div class="large-12 columns">
            <h5>Current Rent</h5>Optional. Specifying your current
        rent allows you to calculate how much you would save or pay
        extra when buying a place.
          </div>
          <div class="large-4 small-6 columns">
            <input type="tel" ng-model="vm.data.currentRent" waw-prefix="£" ng-change="vm.compute()">
      </div>
          <div class="large-8 columns">
          </div>
      </label>

    </form>

    <h2>Future values</h2>

    <form ng-model-options="{ updateOn: 'blur' }">
      <label>Rate after fixed term ends?<input type="tel" ng-model="vm.data.mortgage.followupRate" waw-postfix="%" ng-change="vm.compute()"></label>

      <label>Home price growth rate?<input type="tel" ng-model="vm.data.housePriceGrowthRate" waw-postfix="%" ng-change="vm.compute()"></label>

      <label>Rent growth rate?<input type="tel" ng-model="vm.data.rentGrowthRate" waw-postfix="%" ng-change="vm.compute()"></label>

      <label>Inflation?<input type="tel" ng-model="vm.data.inflationRate" waw-postfix="%" ng-change="vm.compute()"></label>

      <label>Return on investement?<input type="tel" ng-model="vm.data.roi" waw-postfix="%" ng-change="vm.compute()"></label>
    </form>

    <h2>Maintaining the present</h2>

    <form ng-model-options="{ updateOn: 'blur' }">
      <label>Yearly maintenance<input type="tel" ng-model="vm.data.yearlyMaintenance" waw-prefix="£" ng-change="vm.compute()"></label>
    </form>

    <h2>Less important values</h2>

    <form ng-model-options="{ updateOn: 'blur' }">
      <label>Total duration of mortgage?<input type="tel" ng-model="vm.data.mortgage.totalDuration" waw-postfix="years" ng-change="vm.compute()"></label>
    </form>

  </div>
</div>




